.advantages__wrapper {
  padding: 50px 0 60px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 120px;
  }
}

.advantages__banner {
  margin-bottom: 4px;
}

.advantages__title {
  text-align: center;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}


.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 32px;

  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $tablet-width) {
    align-items: start;
    margin-top: 0;
    padding-left: 71px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-left: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 52px;
    height: 56px;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      position: absolute;
      margin-bottom: 0;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      margin-bottom: 20px;
    }
  }
}

.advantages__denomination {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
  @media (min-width: $desktop-width) {
  text-align: center;
  }
}

.advantages__item--time::before {
background-image: url("../img/icon-time.svg");
}

.advantages__item--convinience::before {
  background-image: url("../img/icon-convinience.svg");
}

.advantages__item--power::before {
  background-image: url("../img/icon-power.svg");
}

.advantages__item--eco::before {
  background-image: url("../img/icon-eco.svg");
}
