.button {
  display: block;
  font-family: var(--main-font);
  background-color: var(--basic-color-primary);
  color: var(--basic-color);
  border-radius: 4px;
  padding: 8px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--alt-color-primary-lighter);
  }

  &:active {
    background-color: var(--alt-color-primary-darker);
  }

  &:disabled {
    cursor: default;
    background-color: var(--basic-color-grey);
  }

  &--disabled {
    cursor: default;
    background-color: var(--basic-color-grey);
  }

  &--reset {
    color: var(--basic-color-primary);
    background-color: var(--basic-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--basic-color);
    }


    &:disabled {
      cursor: default;
      color: var(--basic-color);
      background-color: var(--alt-color-light-grey);
    }
  }
}
