.contact__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  min-width: 280px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    min-width: 223px;
  }

  @media (min-width: $desktop-width) {
    min-width: 317px;
  }
}

// .contact__title {
//   margin-bottom: 22px;
// }

.contact__icon {
  top: 2px;
position: absolute;
}

.contact__address {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
}

.contact__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: var( --basic-color-black);
}
