.copyright__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
}

.copyright__label {
  font-size: 12px;
  line-height: 16px;
  color: var(--basic-color-grey);
}
