.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filters__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
}

.filters__group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 24px;


  @media (min-width: $tablet-width) {

    &--cost{
      min-width: 220px;
      margin-right: 21px;
    }

    &--milk{
      min-width: 210px;
      margin-right: 38px;
    }

    &--country{
    min-width: 197px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
    max-width: 319px;
    margin-right: 0;
  }

  &:last-child {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }
}

.filters__title {
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;


  &--cost {
    margin-bottom: 32px;
    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }
    @media (min-width: $desktop-width) {
      margin-bottom: 31px;
    }
  }

  &--milk {
    margin-bottom: 22px;
    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }
  }

  &--country {
    margin-bottom: 20px;
    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }
  }
}

.filters__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filters__item {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

&:last-child {
  margin-bottom: 0;
}


}

.filters__button-wrapper {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-self: center;
max-width: 160px;

@media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 148px 138px;
  column-gap: 30px;
  margin-right: 55px;
  max-width: none;
}

@media (min-width: $desktop-width) {
  grid-template-columns: repeat(2, 150px);
  column-gap: 18px;
}
}

.filters__button {
  font-size: 13px;
  padding: 10px 14px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding: 8px 3px;
  }
}

.filters__button-reset{
  font-size: 14px;
  padding: 10px 16px;

  @media (min-width: $tablet-width) {
    padding: 8px 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.filters__button:first-child {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.filters__additional-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
