.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filters__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
}

.filters__group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 23px;


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }
}

.filters__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
}

.filters__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filters__item {
  margin-bottom: 22px;
  font-size: 16px;

&:last-child {
  margin-bottom: 0;
}
}

.filters__button-wrapper {
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-self: center;
max-width: 160px;

@media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 148px 138px;
  column-gap: 30px;
  max-width: none;
}

@media (min-width: $desktop-width) {
  grid-template-columns: repeat(2, 150px);
}
}

.filters__button {
  font-size: 13px;
  padding: 10px 14px;

  @media (min-width: $tablet-width) {
    padding: 8px 4px;
  }
}

.filters__button-reset{
  font-size: 14px;
  padding: 10px 16px;

  @media (min-width: $tablet-width) {
    padding: 8px 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 11px;
    padding-right: 11px;
  }
}

.filters__button:first-child {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
