.footer__map {
  height: 420px;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}


.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 40px 0 ;
  }
}

.footer__logo-label {
  display: block;

  @media (min-width: $tablet-width) {
    width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.footer__additional-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 0;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;

  }
}

.footer__information {
  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }
}

.footer__logo {
  display: block;
  cursor: pointer;
}

.footer__logo-description {
  display: none;

    @media (min-width: $desktop-width) {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}

.footer__copyright {
  padding: 20px 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.footer__grid-wrapper {
  @media (min-width: $desktop-width) {
display: grid;
grid-template-columns: 318px 1fr;
column-gap: 30px;
}
}
