.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
}

.information__title {
  margin-bottom: 20px;
}

.information__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.information__item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  &:last-child {
    margin-bottom:  0;
  }
}

.information__link {
  text-decoration: none;
  color: var( --basic-color-black);

  &:hover,
  &:focus {
    color: var(--alt-color-primary-lighter);
  }

  &:active {
    color: var(--alt-color-primary-darker);
  }
}

.information__wrapper {
  padding: 22px 0 27px;

  &:last-child {
    padding-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.information__line-wrapper {
  position: relative;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100vw;
    background-color: var( --basic-color-secondary);
    margin-left: calc(50% - 50vw);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100vw;
      background-color: var( --basic-color-secondary);
      margin-left: calc(50% - 50vw);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }


}
