.new-position__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;


  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 705px 1fr;
    column-gap: 30px;
  }
  }


.new-position__item-image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.new-position__banner {
  margin-bottom: 4px;


}

.new-position__item-name {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }
}

.new-position__wrapper-image {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 0px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 105px;
    order: 0;
  }
}

.new-position__item-description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.new-position__item-description br {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.new-position__buy-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  min-width: 232px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 229px;
    align-self: start;
  }
}

.new-position__additional-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    margin-top: 11px;
    padding-right: 80px;
    align-items: start;
  }
}

.new-position__wrapper-button {
  margin-right: 2px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
