.pagination__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.pagination__item {
  margin-right: 20px;

  &:last-child {
    margin-right:  0;
  }
}

.pagination__link {
  text-decoration: none;
  min-width: 40px;
  min-height: 40px;
  border-radius: 4px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-color);
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color-primary);

  &:hover,
  &:focus {
    color: var(--basic-color);
    background-color: var(--alt-color-primary-lighter);
  }

  &:active{
    color: var(--basic-color);
    background-color: var(--alt-color-primary-darker);
  }

  &--disabled {
    cursor: default;
    color: var(--basic-color);
    background-color: var(--alt-color-light-grey);
  }

  &--current {
    background-color: transparent;
    color: var(  --basic-color-black);
    font-weight: 600;
  }
  @media (min-width: $tablet-width) {
  &--next {
    padding: 10px 20px;
      }
  &--prev {
    padding: 10px 20px;
          }
    }
}

.pagination__link-name {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__icon{
  fill: var(--basic-color-primary);

  &--prev {
    transform: rotate(90deg);
  }

  &--next {
    transform: rotate(-90deg);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__link:hover .pagination__icon,
.pagination__link:active .pagination__icon {
  fill: var(--basic-color);
}

.pagination__link--disabled .pagination__icon {
  fill: var(--basic-color);
}

.pagination__list--first-page .pagination__link--prev {
  display: none;
}

.pagination__list--last-page .pagination__link--next {
  display: none;
}
