.range__scale {
  position: relative;
  height: 2px;
  margin-bottom: 36px;
  background-color: var(--alt-color-light-grey);

  @media (min-width: $tablet-width) {
    width: 220px;
    margin-bottom: 33px;
   }

   @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.range__scale--disabled{
  cursor: default;
}

.range__scale--disabled .range__bar{
  background-color: var(--basic-color-grey);
}
.range__scale--disabled .range__toggle {
  cursor: default;
  border-color: var(--basic-color-grey);
  background-color: var(--background-color-lightest-grey);
}

.range__scale--disabled .range__toggle:hover::before,
.range__scale--disabled .range__toggle:focus::before,
.range__scale--disabled .range__toggle:active::before
 {
display: none;
}

.range__scale--disabled .range__toggle:active {
  border-color: var(--basic-color-grey);
}

.range__bar {
 background-color: var(--alt-color-primary-lighter);
 height: 4px;
 width: 240px;
 position: absolute;
 bottom: -1px;

 @media (min-width: $tablet-width) {
  width: 190px;
 }

 @media (min-width: $desktop-width) {
  width: 274px;
}
}

.range__toggle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: var(--basic-color);
  border-radius: 50%;
  border: 2px solid var(--alt-color-primary-lighter);
  cursor: pointer;

  &--min {
    top: -10px;
    left: 0;
  }

  &--max {
    top: -10px;
    right: -20px;

    @media (min-width: $tablet-width) {
      right: -10px;
    }

    @media (min-width: $desktop-width) {
      right: -24px;
    }
  }

&:hover,
&:focus{
    &::before {
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--alt-color-primary-opacity);
    }
  }

  &:active {
    border-color: var( --basic-color-primary);
    &::before {
      background-color: var(--alt-color-primary-lighter);
    }
  }

  // &:disabled {
  //   border-color: var(--basic-color-grey);
  //   background-color: var(--background-color-lightest-grey);

  //   &::before {
  //     display: none;
  //   }
  // } //или такие стили для неактивного состояния рейнджа
}


.range__inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &::before {
    position: absolute;
    left: 135px;
    display: block;
    content: "";
    width: 9px;
    height: 2px;
    background-color: var(--basic-color-grey);

    @media (min-width: $tablet-width) {
      width: 7px;
      left: 106px;
     }

     @media (min-width: $desktop-width) {
      width: 10px;
      left: 154px;
    }
  }
}

.range__input {
  width: 118px;
  box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-color-black);
  appearance: textfield;
  border-radius: 4px;
  border: 2px solid var(--alt-color-primary-lighter);
  background-color: var(--basic-color);

  &::placeholder {
    color: var(--basic-color-grey);
  }

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 93px;
   }

   @media (min-width: $desktop-width) {
    width: 134px;
  }

  &:hover {
    border-color: var(--alt-color-primary-opacity);
  }

  &:focus,
  &:focus:not(:placeholder-shown) {
    border-color: var(--alt-color-primary-darker);
    outline: none;
  }

  &:disabled {
    border-color: var(--alt-color-light-grey);
    color: var(--basic-color-grey);
  }
}

.range__input[type="number"]::-webkit-outer-spin-button,
.range__input[type="number"]::-webkit-inner-spin-button {
  // stylelint-disable
  -webkit-appearance: none;
// stylelint-enable
}

// .range__input[type="number"] {
//   // stylelint-disable
//   -moz-appearance: textfield;
// // stylelint-enable
// }
