.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    width: 400px;
    font-weight: 400;
    justify-content: space-between;
    flex-direction: row;
  }
}

.site-list__item{
  box-sizing: border-box;
  border-top: 1px solid var(--basic-color-secondary);

  &:last-child {
    border-bottom: 1px solid var(--basic-color-secondary);

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.site-list__link {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  // position: relative;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 20px 0 21px;
  // border-top: 1px solid var(--basic-color-secondary);


  @media (min-width: $tablet-width) {
    border: none;
    padding: 32px 20px;

    &--current {
      color: var(--basic-color-primary);
      padding-bottom: 30px;
      border-bottom: 2px solid var(--basic-color-primary);
    }
  }

  &:hover,
  &:focus {
    color: var(--basic-color-primary);
  }

  &:active{
    color: var(--basic-color-black);
    background-color: var(--basic-color-secondary);

    @media (min-width: $tablet-width) {
      color: var(--basic-color-primary);
    }
  }
}

