.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.sorting__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 13px;
  }
}

.sorting__control {
  display: flex;
  position: relative;
  width: 163px;
  border-radius: 4px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 8px;
    z-index: 1;
    background-image: url("../img/arrow.svg");

    @media (min-width: $desktop-width) {
      top: 12px;
      right: 11px;
    }
  }
}


.sorting__select {
  display: block;
  position: relative;
  padding: 4px 27px 4px 10px;
  font: inherit;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  background-color: inherit;
  color: var(--basic-color-primary);
  border-radius: 4px;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 6px;
  }
}

.sorting__control:hover {
  background-color: var(--basic-color-secondary);
}

.sorting__control:active {

  background-color: inherit;

  &::before {
    transform: rotate(180deg);
  }
}
