.user-list {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.user-list__link {
  display: flex;
  padding: 22px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 20px;
  }
}
