:root {
  --main-font: "Montserrat", "Arial", sans-serif;
  --basic-color: #ffffff;
  --basic-color-black: #333333;
  --basic-color-grey: #bdbdbd;
  --basic-color-primary: #7859cf;
  --basic-color-secondary: #f0ebff;
  --alt-color-primary-opacity:rgba(120, 89, 207, 0.25);
  --alt-color-primary-lighter:#9070ec;
  --alt-color-primary-darker:#593cac;
  --alt-color-light-grey: #e2e2e2;
  --background-color-lightest-grey: #f8f8f8;
  --background-color-flat-white: #f3ebe1;
  --background-color-primary-medium: #eae6fc;
  --background-color-grey:#E5E6E8;
}
